.top{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 2.5rem;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

}

.btn{
    padding: 1rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    color: rgb(190, 18,60);
    background-color: white;
    border: none;
    box-sizing: border-box;
}
.arrow{
    font-size: 1.5rem;
}
.btn:hover .arrow{
    margin-left: 2px;
}

.swipContainer{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.mContent{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .5rem;
    padding-bottom: 2rem;
}
.ccf{
    
    font-size: .75rem;
    display: inline-flex;
    gap: .25rem;
   

}
.rating{
    margin-top: 15px;
   
}
.icon{
    display: flex;
    gap: 5.5rem;
    margin-left: -6px;
}
.tomato{
    font-size: .75rem;
    display: inline-flex;
    gap: .25rem;

}
.tomato img{
    margin-top: 10px;
}
.tomato .rating{
    margin-left: 3px;
}

.mContent h6{
    color: gray;
    font-size: .7rem;
    margin-top: 4px;
    font-style: bold;
}
.mContent h4{
    margin-top: 8px;
}

/* mobile screen */
@media (max-width: 640px) {
   
    .top{
        flex-direction: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 0rem .5rem 1rem;
        font-size: .45rem;
     
    }
    .btn{
        font-size: .7rem;
        padding: 0.5rem 0.5rem;
        
    }
   .arrow{
    font-size: 0.9rem ;
   }
    .mSwiper {
        padding: 0.4rem;
      }
      .mContent {
        padding: 0rem 3rem 0rem 0.5rem;
      }
      .mImage img {
        width: 100% !important;
        height: 100%;
      }
      
    .icon{
        display: none;
        align-items: center;
        box-sizing: border-box;

        
    }
    
    .mContent h6{
        font-size: .3rem;
        margin-top: 0px;
        
    }
    .mContent h4{
        margin-top: 1px;
        font-size: 0.4rem;
        font-weight: bold;
        margin-bottom: 1px;
    }
   
}