.nav{
    position: sticky;
    padding: 0.5rem 0.5rem;

}
.navContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    padding: .1rem .1rem;
}

.tv{
    color: white;
    font-size: 2rem;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.play{
    position: absolute;
    color: #ffffff;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    top: 54%;
    left: 50%;
   

}
.logContent{
    background-color: rgb(236, 8, 58) ;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    position: relative;
    padding: .3rem;
    border: none;
   
   
}
.logo{
    background-color:  rgb(225,29,72);
    width: 28px;
    height: 28px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 100%;
    padding: .3rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.searchContainer {
    display: flex;
    align-items: center;
    width: 45%;
  }
  
  .searchInput {
    width: 100%;
    height: 1rem;
    padding: .6rem;
    border: solid 2px white;
    color: white;
    background-color: transparent;
    border-radius: 10px;
  }
  
  .searchIcon {
    position: absolute;
    right:  22rem; 
    cursor: pointer;
    color: white;
  }
  .searchInput::placeholder {
    color: white; 
    font-size: 1rem;
    padding: .8rem;
  }
.logotext h3{
    margin-left: -10rem;
    text-align: center;
    color: white;
}
.login{
    color:  white;
    display: inline-flex;
    padding: .5rem;

}
.login p{
    font-size: 1.2rem;
}
.hambuger{
    background-color: rgb(225,29,72) ;
    width: 18px;
    height: 18px;
    font-size: 1.2rem;
    border-radius: 50%;
    padding: .3rem;
    margin-left: 12px;
    
}


@media  (max-width: 640px){
    .logotext h3 {
      margin-left: -7.5rem;
    }
    .searchContainer{
        display: none;
    }
    .login p{
        display: none;
    }
    .hambuger{
        width: 25px;
        height: 25px;
    }
   
   
    .navContent{
        justify-content: space-between;
        padding: .5rem 0.8rem;
    }
   
}

   
   
