.container{
    background-image:url("/image/johnwick.jpg")  ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    
}
.heroContent{
   padding: 7rem 4.5rem;
    color: white;
    width: 23.5%;
    height: 80%;
    
}
.heroContent h1{
    font-size: 2.8rem;
}
.heroContent p{
    font-size: .9rem;
    line-height: 1.3rem;
    margin-top: .5rem;

}
.Wbtn{
    background-color:  rgb(236, 8, 58) ;
    color: white;
    display: inline-flex;
    padding: .6rem 1.3rem;
    gap: .7rem;
    font-size: 1rem;
    border-radius: 7px;
    align-items: center;
    border: none;
    margin-top: 1rem;
}
.vplay{
    font-size: 1rem;
}
.ccf{
    
    font-size: .7rem;
    display: inline-flex;
    gap: .25rem;

}
.rating{
    margin-top: 15px;
   
}
.img{
    display: flex;
    gap: 2rem;
}
.tomato{
    font-size: .7rem;
    display: inline-flex;
    gap: .25rem;

}
.tomato img{
    margin-top: 10px;
}
.tomato .rating{
    margin-left: 2px;
}

@media (max-width: 640px){
    .heroContent{
        width: 100%;
        height: 100%;
        margin-top: 95%;
        padding: 3rem 2rem;
    }
    .heroContent h1{
        font-size: 2.1rem;
    }
    .heroContent p{
        font-size: .8rem;
        line-height: 1rem;
        width: 78%;
        padding-right: 3rem;
    }
    .Wbtn{
        font-size: 0.9rem;
        padding:.5rem 1rem;
    }
}