.top{
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 2.5rem;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

}
.btn{
    padding: 1rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    color: rgb(190, 18,60);
    background-color: white;
    border: none;
}
.arrow{
    font-size: 1.5rem;
}
.btn:hover .arrow{
    margin-left: 4px;
}

 .swipContainer{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.mContent{
  box-sizing: border-box;
  margin-left: 3.8rem;
  overflow: hidden;
}
.mtext{
  margin-top: 5px;
  font-size: 1rem;
}
.mImage{
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.mBtn{
  font-size: 3.5rem;
  position: absolute;
  top: 40%;
  right: 50%;
  color: white;
}

/* mobile screen */
@media (max-width: 640px) {
   
  .top{
    flex-direction: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0rem .5rem 1rem;
    font-size: .45rem;
 
}
.btn{
    font-size: .7rem;
    padding: 0.5rem 0.5rem;
    
}
.arrow{
font-size: 0.9rem ;
}
  .mSwiper {
      padding: 0.5rem;
    }
    
    .mImage img {
      width: 100% !important;
      height: 100px;
    }
  
 
  .mContent h4{
      margin-top: 1px;
      font-size: 0.4rem;
      font-weight: bold;
      margin-bottom: 1px;
  }
  .mBtn{
    font-size: 2rem;
    top: 30%;
    right: 50%;
  }
}